@model List<AppUser>

@{
    Layout = null;
    int count = 0;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<br />
<br />
@foreach (var item in Model)

{
    count++;
    if (count == 1 || count % 3 == 1)
    {
        @Html.Raw("<div class='row row-cols-1 row-cols-md-3 g-4'>")
    }

    <div class="col">
        <user-card app-user="item"></user-card>
    </div>      
    if (count % 3 == 0)
    {
        @Html.Raw("</div>")
    }
}